<Texts Type="Other">
	<List>
		<Text Name="single_jin">
			<Display>Kim khí sung mãn</Display>
			<Desc>Tăng nguyên tố Kim trong môi trường và tỉ lệ đột phá pháp môn Kim.</Desc>
		</Text>
		<Text Name="single_mu">
			<Display>Mộc khí sung mãn</Display>
			<Desc>Tăng nguyên tố Mộc trong môi trường và tỉ lệ đột phá pháp môn Mộc.</Desc>
		</Text>
		<Text Name="single_shui">
			<Display>Thủy khí sung mãn</Display>
			<Desc>Tăng nguyên tố Thủy trong môi trường và tỉ lệ đột phá pháp môn Thủy.</Desc>
		</Text>
		<Text Name="single_huo">
			<Display>Hỏa khí sung mãn</Display>
			<Desc>Tăng nguyên tố Hỏa trong môi trường và tỉ lệ đột phá pháp môn Hỏa.</Desc>
		</Text>
		<Text Name="single_tu">
			<Display>Thổ khí sung mãn</Display>
			<Desc>Tăng nguyên tố Thổ trong môi trường và tỉ lệ đột phá pháp môn Thổ.</Desc>
		</Text>
		<Text Name="jin_mu">
			<Display>Tăng cường Đốn gỗ</Display>
			<Desc>Tăng đáng kể tốc độ chặt cây và thu thập của đệ tử.</Desc>
		</Text>
		<Text Name="jin_shui">
			<Display>Tăng cường Thủ công</Display>
			<Desc>Tăng đáng kể tốc độ thủ nghệ và may vá của đệ tử.</Desc>
		</Text>
		<Text Name="jin_huo">
			<Display>Tăng cường Khai khoáng</Display>
			<Desc>Tăng đáng kể sản lượng khai thác của đệ tử.</Desc>
		</Text>
		<Text Name="jin_tu">
			<Display>Độ no Khai khoáng</Display>
			<Desc>Tăng đáng kể thu hoạch khai thác của đệ tử.</Desc>
		</Text>
		<Text Name="mu_shui">
			<Display>Breeding</Display>
			<Desc>Tăng đáng kể sản lượng của đệ tử môn phái và độ màu mỡ của bản đồ môn phái.</Desc>
		</Text>
		<Text Name="mu_huo">
			<Display>Bùng cháy toàn lực</Display>
			<Desc>Tăng đáng kể tốc độ rèn luyện và nấu ăn của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="mu_tu">
			<Display>Stabilize</Display>
			<Desc>Tăng đáng kể tốc độ xây dựng của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="shui_huo">
			<Display>Tàn hỏa</Display>
			<Desc>Tăng đáng kể tốc độ cứu tai và tỉ lệ thành công của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="shui_tu">
			<Display>Overflow</Display>
			<Desc>Tăng đáng kể hiệu quả chữa lành và hồi phục tự nhiên của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="huo_tu">
			<Display>Ashes</Display>
			<Desc>Tăng đáng kể tốc độ phá dỡ và gia công đá của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_mu_shui">
			<Display>Exuberant</Display>
			<Desc>Tăng đáng kể độ tương hợp pháp môn Mộc của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_mu_huo">
			<Display>Viridescent</Display>
			<Desc>Tăng đáng kể sản lượng luyện đan của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_mu_tu">
			<Display>Dismal</Display>
			<Desc>Tăng đáng kể tốc độ tu luyện, tốc độ trúc cơ và giá trị Tâm cảnh của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_shui_huo">
			<Display>Lucent</Display>
			<Desc>Tăng đáng kể tỉ lệ thành công luyện chế pháp bảo của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_shui_tu">
			<Display>Cascade</Display>
			<Desc>Tăng đáng kể độ tương hợp pháp môn Thủy của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="jin_huo_tu">
			<Display>Lustrous</Display>
			<Desc>Tăng đáng kể độ tương hợp pháp môn Kim của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="mu_shui_huo">
			<Display>Fervent</Display>
			<Desc>Tăng đáng kể độ tương hợp pháp môn Hỏa của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="mu_shui_tu">
			<Display>Equable</Display>
			<Desc>Tăng đáng kể tốc độ luyện đan của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="mu_huo_tu">
			<Display>Grim</Display>
			<Desc>Tăng đáng kể độ tương hợp pháp môn Thổ của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="shui_huo_tu">
			<Display>Ardent</Display>
			<Desc>Tăng đáng kể tốc độ rèn pháp bảo của đệ tử môn phái.</Desc>
		</Text>
		<Text Name="no_jin">
			<Display>Kim Tuyệt</Display>
			<Desc>Tăng giảm sát thương Kim (toàn cục).</Desc>
		</Text>
		<Text Name="no_mu">
			<Display>Mộc Tuyệt</Display>
			<Desc>Tăng giảm sát thương Mộc (toàn cục).</Desc>
		</Text>
		<Text Name="no_shui">
			<Display>Thủy Tuyệt</Display>
			<Desc>Tăng giảm sát thương Thủy (toàn cục).</Desc>
		</Text>
		<Text Name="no_huo">
			<Display>Hỏa Tuyệt</Display>
			<Desc>Tăng giảm sát thương Hỏa (toàn cục).</Desc>
		</Text>
		<Text Name="no_tu">
			<Display>Thổ Tuyệt</Display>
			<Desc>Tăng giảm sát thương thuộc tính Thổ (toàn cục).</Desc>
		</Text>
		<Text Name="hunyuan">
			<Display>Primordial</Display>
			<Desc>Giảm Đạo hạnh, tăng Tốc độ lĩnh hội.</Desc>
		</Text>
	</List>
</Texts>

